.page-container {
  padding: 0 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  margin: 0;
  font-size: 32px;
  cursor: pointer;
}

.header-button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  font-size: 18px;
}

.posts {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.post-header__user-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 10px;
}

.post-image-container {
  height: 500px;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-likes {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.like-button {
  padding: 10px;
  border: none;
  background-color: transparent;
  border: 2px solid red;
  margin-right: 10px;
  cursor: pointer;
}

.-active {
  background-color: red;
}

.user-name {
  font-weight: bold;
}

.post-text {
  margin-top: 5px;
}

.post-date {
  color: darkgray;
}

.post + .post {
  margin-top: 20px;
}

.posts-user-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.posts-user-header__user-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 10px;
}

.posts-user-header__user-name {
  font-size: 24px;
}

.loading-page {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
